<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <script src="/scripts.js"></script>
    <title>Admin portal</title>

</head>
<body>
<nav th:replace="~{/fragments/navbar.html :: nav-bar}"></nav>
<header th:replace="~{/fragments/header :: head-form}"></header>

<div class="admin-container">
    <h1 class="admin-title">ADMIN PANEL</h1>
    <div class="admin-items">
        <div class="admin-item">
            <a href="#" th:href="@{/users}">
                <i class="fas fa-users" style="color: #1f9da6"></i>
                <span th:text="#{admin.all.members}">Members</span>
            </a>
        </div>
        <div class="admin-item">
            <a href="#" th:href="@{/posts}">
                <i class="fas fa-file" style="color: #fca910"></i>
                <span th:text="#{admin.all.posts}">Posts</span>
            </a>
        </div>
        <div class="admin-item">
            <a href="#" th:href="@{/tags}">
                <i class="fas fa-tags" style="color: #76d216"></i>
                <span th:text="#{admin.all.tags}">Tags</span>
            </a>
        </div>
    </div>
</div>

<form th:replace="~{/fragments/footer :: footer-form}"></form>

</body>
</html>
