<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Digital Diggers Home Page</title>

    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css}">
</head>
<body>

<nav th:replace="~{/fragments/navbar.html :: nav-bar}"></nav>
<header th:replace="~{/fragments/header :: head-form}"></header>
<!-- Navigation-->

<!--        Added navigation for all posts and all users-->
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 g-0 align-content-center">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li><h3><a class="nav-link" th:href="@{/posts}" th:text="#{navigation.all-posts}">All Posts</a></h3>
                </li>

                <li><h3><a th:if="${isAuthenticated}" class="nav-link px-lg-3" th:href="@{/users}">
                    <span class="py-4" th:text="#{navigation.members}">All Members</span>
                </a></h3></li>
            </ul>
           <span style="float: right">
               <h5 href="#" th:text="${allPosts.size()}" style="white-space: nowrap; display: inline-block;"></h5>
               <span>
                   <i class="fas fa-file" style="color: #0f8ee3; margin-right: 40px;"></i>
               </span>

               <h5 href="#" th:text="${allUsers.size()}" style="white-space: nowrap; display: inline-block;"></h5>
               <span>
                   <i class="fas fa-users" style="color: #1f9da6"></i>
               </span>
           </span>

        </div>
    </div>

</nav>

<!-- Main Content-->
<br/><br/><br/>
<div th:if="${homePost.isEmpty()}" class="title">
    <span style="display: inline-block; color: #0d6efd; font-size: 40px"><i
            class="fa-sharp fa-solid fa-ranking-star"></i></span>
    <h3 class="post-title" th:text="#{no-rated-posts.label}" style="display: inline-block;"></h3>
    <span style="display: inline-block; color: #0d6efd; font-size: 40px"><i
            class="fa-sharp fa-solid fa-ranking-star"></i></span>
</div>


<div th:unless="${homePost.isEmpty()}">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!-- Post preview-->
                <div th:each="post : ${homePost}" class="post-preview">
                    <h3 class="post-title"><a href="#" th:href="@{/posts/{id}(id=${post.getPostId()})}"
                                              th:text="${post.getTitle()}">Title</a></h3>
                    <p th:text="${post.getContent()}">Content</p>

                    <p class="post-meta"> Posted by
                        <a href="#" th:href="@{/users/{id}(id=${post.getCreatedById()})}"
                           th:text="${post.getCreatedBy()}">Username</a>
                        <span th:text="${post.getTimestamp()}">on September 18, 2023</span>
                        <span class="rating" th:text="${post.getRating()}"> </span>
                        <span><i class="fa-solid fa-star" style="color: #ecec2c"></i></span>
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4"/>

            </div>
        </div>
    </div>
</div>

<!-- Footer-->
<form th:replace="~{/fragments/footer :: footer-form}"></form>

<script src="/scripts.js"></script>
</body>
</html>
