<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css}">
    <script src="/scripts.js"></script>
    <title>Update Post</title>
</head>
<body>

<nav th:replace="~{/fragments/navbar.html :: nav-bar}"></nav>
<header th:replace="~{/fragments/header :: head-form}"></header>

<form th:fragment="post-form" action="#" th:action="@{__${requestURI}__}" th:object="${post}" method="post">
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="title">Update title</div>
                    <div class="my-5">
                        <div class="form-floating">
                            <input th:field="*{title}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('title')} ? 'is-invalid'" id="title"
                                   type="text" th:placeholder="#{post.label.title}"
                                   data-sb-validations="required"/>
                            <label th:text="#{post.label.title}">Title</label>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title is
                                required.
                            </div>
                        </div>
                        <br />
                        <div class="form-floating">
                            <input th:field="*{content}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('content')} ? 'is-invalid'" id="content"
                                   type="text" th:placeholder="#{posts.label.content}"
                                   data-sb-validations="required"/>
                            <label th:text="#{posts.label.content}">Content</label>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Content is
                                required.
                            </div>
                        </div>
                        <br />
                        <div class="form-floating">
                            <input th:field="*{tagsToAdd}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('tagsToAdd')} ? 'is-invalid'" id="tagsToAdd"
                                   type="text" th:placeholder="#{posts.label.tags}"
                                   data-sb-validations="required"/>
                            <label th:text="#{posts.label.tags}">Tags (To add multiple tags follow this convention "btc,eth,solana...)</label>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('tagsToAdd')}" th:errors="*{tagsToAdd}">Tags are
                                required.
                            </div>
                        </div>
                        <br />
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn btn-primary text-uppercase" type="submit">Save</button>
            <a th:href="@{/posts/{postId}(postId=${postId})}" class="btn btn-secondary">Cancel</a>
        </div>
    </main>
</form>
<div th:unless="${tags1.isEmpty()}">
    <div class="tag-container d-flex flex-column align-items-center">
        <form th:fragment="post-form" action="#" th:action="@{/posts/{postId}/tags/delete(postId=${postId})}" th:object="${post}" method="post">
            <label for="tagField"></label>
            <input th:field="*{tagsToRemove}" id="tagField" type="hidden"/><br/><br/>
            <span th:each="tag : ${tags1}">
            <label>
                <input type="checkbox" name="item" th:value="${tag.getId()}" onclick="updateTagField(this)"/>
                <span th:text="${tag.getTag()}"></span>
            </label>
        </span>
            <div class="text-center">
                <button type="submit" class="btn btn-danger">Delete Tag</button>
            </div>
        </form>
    </div>
</div>



<script>
    function updateTagField(checkbox) {
// Get the tag value from the checkbox label
var tagValue = checkbox.parentNode.textContent.trim();

// Get the current value of the tag field
var tagField = document.getElementById("tagField");
var currentTags = tagField.value.split(", ");

// Update the tag field based on the checkbox status
if (checkbox.checked) {
// Add the tag value to the tag field if it's not already there
if (currentTags.indexOf(tagValue) === -1) {
// Add a comma before the tag value if there are already other tags
tagField.value += (tagField.value ? ", " : "") + tagValue;
}
} else {
// Remove the tag value from the tag field if it's already there
var index = currentTags.indexOf(tagValue);
if (index !== -1) {
currentTags.splice(index, 1);
}

// Update the tag field value
tagField.value = currentTags.join(", ");
}
}
</script>

<form th:replace="~{/fragments/footer :: footer-form}"></form>

</body>
</html>