<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>User register</title>
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css}">
    <script src="/scripts.js"></script>
</head>
<body>
<nav th:replace="~{/fragments/navbar.html :: nav-bar}"></nav>
<header th:replace="~{/fragments/header :: head-form}"></header>


<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                    <div class="title" >Register</div>

                <p>Fill in the below form in order to access the full functionality of the forum!</p>
                <div class="my-5">
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN" method="post" th:action="@{__${requestURI}__}"
                          th:object="${register}">
                        <!-- First name -->
                        <div class="form-floating">
                            <input th:field="*{firstName}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('firstName')} ? 'is-invalid'" id="first-name"
                                   type="text" th:placeholder="#{user.label.first-name}"/>
                            <label>First name</label>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First name is
                                required.
                            </div>
                        </div>
                        <!-- Last name -->
                        <div class="form-floating">
                            <input th:field="*{lastName}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('lastName')} ? 'is-invalid'" id="last-name"
                                   type="text" th:placeholder="#{user.label.last-name}"
                                   data-sb-validations="required"/>
                            <label th:text="#{user.label.last-name}">Last name</label>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last name is
                                required.
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="form-floating">
                            <input th:field="*{email}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('email')} ? 'is-invalid'" id="email"
                                   type="email" th:placeholder="#{user.label.email}"
                                   data-sb-validations="required"/>
                            <label th:text="#{user.label.email}">Email</label>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email is required.
                            </div>
                        </div>
                        <!-- Username -->
                        <div class="form-floating">
                            <input th:field="*{username}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('username')} ? 'is-invalid'" id="username"
                                   type="text" th:placeholder="#{user.label.username}"
                                   data-sb-validations="required"/>
                            <label th:text="#{user.label.username}">Username</label>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username is
                                required.
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="form-floating">
                            <input th:field="*{password}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('password')} ? 'is-invalid'" id="password"
                                   type="password" th:placeholder="#{user.label.password}"
                                   data-sb-validations="required"/>
                            <label th:text="#{user.label.password}">Password</label>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password is
                                required.
                            </div>
                        </div>
                        <!-- Password Confirm -->
                        <div class="form-floating">
                            <input th:field="*{passwordConfirm}"
                                   class="form-control"
                                   th:classappend="${#fields.hasErrors('passwordConfirm')} ? 'is-invalid'" id="passwordConfirm"
                                   type="password" th:placeholder="#{user.label.password-confirm}"
                                   data-sb-validations="required"/>
                            <label th:text="#{user.label.password-confirm}">Confirm password</label>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Confirm password is
                                required.
                            </div>
                        </div>
                        <button class="btn btn-primary text-uppercase" type="submit">Save</button>
                        <a th:href="@{/}" class="btn btn-secondary">Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<form th:replace="~{/fragments/footer :: footer-form}"></form>

</body>
</html>