<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/styles.css" th:href="@{/styles.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css}">
    <script src="/scripts.js"></script>
    <title>User details</title>
</head>
<body>

<nav th:replace="~{/fragments/navbar.html :: nav-bar}"></nav>
<header th:replace="~{/fragments/header :: head-form}"></header>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-8 col-xl-7">
            <div class="card">
                <div class="card-header">
                    <h3>User Details</h3>
                </div>
                <div class="card-body">
                    <div class="d-flex mb-3">
                        <label class="fw-bold me-3" th:text="#{user.label.first-name}">First name:</label>
                        <span th:text="${user.getFirstName()}">Gosho</span>
                    </div>
                    <div class="d-flex mb-3">
                        <label class="fw-bold me-3" th:text="#{user.label.last-name}">Last name:</label>
                        <span th:text="${user.getLastName()}">Ivanov</span>
                    </div>
                    <div class="d-flex mb-3">
                        <label class="fw-bold me-3" th:text="#{user.label.email}">Email:</label>
                        <span th:text="${user.getEmail()}">gosho.ivanov@gmail.com</span>
                    </div>
                    <div th:if="${user.getPhone().isPresent() && user.getPhone() != ''}">
                        <div class="d-flex mb-3">
                            <label class="fw-bold me-3" th:text="#{user.label.display.phone}">Phone:</label>
                            <span th:text="${user.getPhone().orElse('')}">+ 0000 0000</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div th:if="${isAuthenticated}">
                        <div th:if="${session.currentUser.equals(user.getUsername()) || session.isAdmin}">
                            <form th:action="@{__${requestURI}__/update}" method="GET">
                                <input type="hidden" name="_method" value="GET"/>
                                <input type="hidden" name="userId" th:value="${user.getId()}"/>
                                <button type="submit" class="btn btn-primary text-uppercase">Update Profile</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<form th:replace="~{/fragments/footer :: footer-form}"></form>

</body>
</html>