<header th:fragment="head-form"
        class="masthead"

        th:style="'background-image: url(' + @{/assets/forum_logo.png} + ')'">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-1 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Digital Diggers</h1>
                    <span class="subheading">All you need for your Crypto Journey!</span>
                </div>
            </div>
        </div>
    </div>
</header>

